.design
  // margin-top: 2.5rem

  &__bottom
    padding: 2rem 1rem
    display: flex
    flex-direction: column

    +from(s)
      flex-direction: row
      padding: 2rem

    .h2
      font-size: 2rem

      +from(s)
        font-size: 3rem
        overflow-wrap: break-word

    &-l,
    &-r
      width: 100%

      +from(s)
        width: 50%

    &-l
      p
        font-weight: 700

    &-r
      height: 100%

      .h3
        font-weight: 700

    &-section
      height: 100%

  &__link
    display: flex
    flex-direction: column
    margin-top: 2rem

    +from(s)
      flex-direction: row

    svg
      width: 50px
      margin-left: 0.5rem

      +from(s)
        width: 25px

      g
        fill: $color-green-dk
        transition: all 0.2s ease-in-out

    &:hover
      svg
        g
          fill: $color-black