.footer
  background-color: $color-black
  color: $color-white

  &__contact
    padding: 1rem 0
    text-align: center

    +from(s)
      padding: 1rem 2rem
      text-align: left

    h3
      color: $color-red

    a
      color: $color-white

      &:hover
        color: $color-gray

    a:first-of-type
      font-weight: 900
      letter-spacing: 1.2px
      display: block

    a:last-of-type
      font-weight: 500
      letter-spacing: 0.5px

  &__credits
    background-color: $color-gray
    padding-block: 1rem
    
    p
      font-size: 0.8rem
      text-align: center