.webdev
  // margin-top: 4rem
  
  &__top
    display: flex
    margin-block: 4rem
    // background-color: orange

    &-left, &-right
      width: 50%

    &-left
      // background-color: red

    &-right
      // background-color: green

  &__skills
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 1rem

  &__skill
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    // width: 15%

    svg
      width: 50px

  &__bottom
    // margin-top: 4rem

  &__links
    display: flex
    align-items: center
    svg
      width: 25px
      margin-left: 1rem
      // margin: 0 1rem