<div class="module companies">
  <h2>Trusted By Industry Leaders</h2>
  <p>From startups to industry giants, I've collaborated with a variety of companies to deliver high-quality web and design solutions.</p>

  <div class="companies__container">
    <div class="companies__company">
      {{ partial "svg/logo-espn"}}
    </div>

    <div class="companies__company">
      {{ partial "svg/logo-kroger"}}
    </div>

    <div class="companies__company">
      {{ partial "svg/logo-microsoft"}}
    </div>

    <div class="companies__company">
      {{ partial "svg/logo-kandn"}}
    </div>

    <div class="companies__company">
      {{ partial "svg/logo-rtic"}}
    </div>
  </div>
</div>
