<div class="design-grid-wrapper">
  <h2 class="design-grid__title">Art & Design</h2>
  <div class="design-grid">
    <div class="design-grid__container">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1689217044/abstract-expression-min_cc2bul.gif" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984502/infographic1_oaz4sj.jpg" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984531/abstract3_qh2dkc.jpg" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1689224972/acura_bgklu0.jpg" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984554/kroji-rig-2_alt5tw.gif" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984574/rtic-coolers2_djkyrk.jpg" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984593/memphis-ballet_jfs282.jpg" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984617/abstract1_ol5wwb.jpg" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1689225407/drain-buzz_lmhhlz.jpg" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984631/abstract2_y0wy0m.jpg" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984706/Kobe_swayqc.jpg" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984666/polo_euosdy.jpg" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984687/lionfish_j9kfbr.jpg" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984791/lebron2_rxw8ia.gif" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984722/abstract4_zzkkwq.jpg" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984768/cel-animation_mohp4w.gif" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984647/DJKHALED_dsdfx4.jpg" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1689225876/letterb-animation_so62ee.gif" alt="">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1689225875/id90-summit_logo_akpwsg.jpg" alt="">

    </div>
  </div>
</div>
