<div class="design" id="design">
  {{ partial "design-grid" }}

  <div class="design__bottom">
    <div class="design__bottom-l">
      <h2 class="h2">Graphic Design</h2>
      <p>An Amalgamation of Art, Technology, and Innovation</p>

        <a class="design__link" href="https://www.behance.net/gsiegel" target="_blank" aria-label="Behance Link">
          <p>See more of my art & design work on Behance -></p>
          {{ partial "svg/icon-behance" }}
        </a>

      </div>
    <div class="design__bottom-r">
      <div class="design__bottom-wrapper">
        <div class="design__bottom-section">
          <h3 class="h3">Training & Artistic Roots:</h3>
          <p>I began my studies in graphic design at Florida Atlantic University and Palm Beach State College, where I developed a passion for the perfect balance of visually pleasing typography and the scientific principles of design. Since I was young, I've delved into the world of contemporary art, working with various mediums such as pencils, paint, and abstract forms. My personal artworks, marked by a bold abstract style, fuel my creativity and inspire my designs, allowing me to create unique and engaging visual experiences.</p>
        </div>
        <div class="design__bottom-section">
          <h3 class="h3">Experience & Continuous Learning:</h3>
          <p>With over 8 years of professional experience, I've attained expertise in graphic design, and I'm highly skilled in animation, motion design, and 3D modeling and animation. My portfolio showcases my ability to craft compelling narratives across various tools and platforms. My growth in design is continuous and vigorous, and I am always learning new ways to blend my artistic skills into my corporate and business-focused projects, creating designs that not only connect but also excel.</p>
        </div>
        <div class="design__bottom-section">
          <h3 class="h3">Collaboration & Leadership:</h3>
          <p>I have honed my leadership and problem-solving skills through extensive collaboration with different clients, cross-functional teams, and stakeholders. Working freelance or within organized teams, I excel in ensuring everyone is aligned with shared goals and visions, forging a path that takes into account the unique needs and perspectives of all involved.</p>
        </div>
        
      </div>
      
    </div>
  </div>
  
</div>