<footer class="footer">
  <div class="footer__contact">
    <h2>Let's Connect</h2>
    <a href="+15613101404">(561)310-1404</a>
    <a href="mailto: garrett@submurgedcreative.com">garrett@submurgedcreative.com</a>
  </div>

  <div class="footer__links">
    <a href="https://www.linkedin.com/in/garrettsiegel" target="_blank" class="intro__link">{{ partial "svg/icon-linkedin" }}</a>
    <a href="https://github.com/garrettsiegel" target="_blank" class="intro__link">{{ partial "svg/icon-github" }}</a>
    <a href="https://codepen.io/garrettsiegel/pens/public" target="_blank" class="intro__link">{{ partial "svg/icon-codepen" }}</a>
    <a href="https://www.upwork.com/fl/garrettsubmurged" target="_blank" class="intro__link">{{ partial "svg/icon-upwork" }}</a>
    <a href="https://www.behance.net/gsiegel" target="_blank" class="intro__link">{{ partial "svg/icon-behance" }}</a>
  </div>

  <div class="footer__credits">
    <p>2023 Garrett Siegel, Front End Developer & UI/UX Designer</p>
  </div>
</footer>