{{ with .Site.Data.footer }}
<footer>

  <div class="credits">
    {{ with .credits }}
      <p>{{ .line1 }}</p>
      <p>{{ .line2 }}</p>
      <p class="is-light">{{ .line3 }}</p>
    {{ end }}
  </div>

  <div class="recirc">
    {{ with .recirc }}
      <div class="recirc__title">{{ .title }}</div>
      <div class="recirc__container">
        {{ range .links }}
          <a href="{{ .url }}" target="_blank" class="recirc__link">
            <img src="{{ .imageSrc }}" alt="{{ .altText }}"/>
            <!-- <div class="credits-recirc__image-text"> -->
            <span>{{ .linkText }}</span>
            <!-- </div> -->
          </a>
        {{ end }}
      </div>
    {{ end }}
  </div>

</footer>
{{ end }}