<div class="module intro">
  <div class="intro__container">

    <img class="intro__image"
      data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984554/kroji-rig-2_alt5tw.gif"
      alt="Garrett Siegel | Front End Developer and Graphic Designer">

    <h1 class="intro__name">Garrett Siegel</h1>

    <div class="intro__links">
      <!-- <a href="https://www.linkedin.com/in/garrettsiegel" target="_blank" class="intro__link">{{ partial "svg/icon-linkedin" }}</a> -->
      <a href="https://github.com/garrettsiegel" target="_blank" class="intro__link">{{ partial "svg/icon-github" }}</a>
      <a href="https://codepen.io/garrettsiegel/pens/public" target="_blank" class="intro__link">{{ partial "svg/icon-codepen" }}</a>
      <a href="https://www.behance.net/gsiegel" target="_blank" class="intro__link">{{ partial "svg/icon-behance" }}</a>
      <a href="https://www.upwork.com/fl/garrettsubmurged" target="_blank" class="intro__link">{{ partial "svg/icon-upwork" }}</a>
      <!-- <a href="https://bsky.app/profile/gsiegel.bsky.social" target="_blank" class="intro__link bluesky"><img src="https://res.cloudinary.com/drxro4uha/image/upload/v1697900260/bluesky_ziyfut.png" alt=""></a> -->
    </div>

    <p class="intro__desc-top">Front End Development & Visual Design</p>
    <p class="intro__desc-bottom">Building Seamless User Experiences Through Design and Code</p>

    <div class="intro__button" aria-label="Click to scroll down">
      {{ partial "svg/button-down" }}
    </div>

  </div>
</div>