<div class="links">
  <a href="https://github.com/garrettsiegel" target="_blank" class="link">{{ partial "svg/icon-github" }}</a>
  <a href="https://codepen.io/garrettsiegel/pens/public" target="_blank" class="link">{{ partial "svg/icon-codepen" }}</a>
  <a href="https://www.behance.net/gsiegel" target="_blank" class="link">{{ partial "svg/icon-behance" }}</a>
  <a href="https://www.upwork.com/fl/garrettsubmurged" target="_blank" class="link">{{ partial "svg/icon-upwork" }}</a>
  <a href="https://twitter.com/garrettDoesCode" target="_blank" class="link">{{ partial "svg/icon-twitter"}}</a>
</div>