<div class="module recent-projects">
  <h2>Recent Work</h2>
  <div class="recent-projects__container">
    <div class="recent-projects__project" data-modal-id="modal1">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1693172127/ohtani-bkgd_uaxc79.jpg" alt="">
    </div>
    <div class="recent-projects__project" data-modal-id="modal2">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1693172270/intro_1125x450_desktop_xcapor.jpg" alt="">
    </div>
    <div class="recent-projects__project" data-modal-id="modal3">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1689213075/data-viz_atnnxv.jpg" alt="">
    </div>
    <div class="recent-projects__project" data-modal-id="modal4">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1689213075/design-systems_ce2le8.jpg" alt="">
    </div>
    <div class="recent-projects__project" data-modal-id="modal5">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1689214360/mccluskey_zyw58l.jpg" alt="">
    </div>
    <div class="recent-projects__project" data-modal-id="modal6">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1689453207/knfilters_wxa6c2.jpg" alt="">
    </div>
    <div class="recent-projects__project" data-modal-id="modal7">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1693172270/desktop_FPO_iyrobp.jpg" alt="">
    </div>
    <div class="recent-projects__project" data-modal-id="modal8">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1689214478/hinchliffe_zsornl.webp" alt="">
    </div>
    <div class="recent-projects__project" data-modal-id="modal9">
      <img data-src="https://res.cloudinary.com/drxro4uha/image/upload/v1689214533/sneaker-smarter-site_zhcefs.jpg" alt="">
    </div>
  </div>
</div>