<div class="spacer"></div>

<div class="gallery">
	<div class="left">
		<div class="desktopContent">
			<div class="desktopContentSection">
				<div class="container">
					<h1>Red</h1>
					<p>Red is a color often associated with strong emotions such as passion, love, and anger. It's a bold and attention-grabbing color that can evoke feelings of excitement, warmth, and energy.</p>
				</div>
				
			</div>
			<div class="desktopContentSection">
				<div class="container">
					<h1>Green</h1>
					<p>Green is a color that is often associated with nature, growth, and harmony. It is a calming and relaxing color that can evoke feelings of balance, stability, and freshness.</p>
				</div>
			</div>
			<div class="desktopContentSection">
				<div class="container">
					<h1>Pink</h1>
					<p>Pink is a color that
				</div>
				 is often associated with femininity, romance, and sweetness. It is a softer and more delicate shade of red that can evoke feelings of warmth, love, and nurturing.</p>
			</div>
			<div class="desktopContentSection">
				<div class="container">
					<h1>Blue</h1>
					<p>Blue is a color that is often associated with calmness, trust, and reliability. It is a peaceful and serene color that can evoke feelings of stability, security, and professionalism.</p>
				</div>
				
			</div>

		</div>
	</div>

	<div class="right">

		<!-- add mobile content here-->
		
		<!-- desktop content -->

		<div class="desktopPhotos">
			<div class="desktopPhoto red">{{ partial "atoms/media-item.html" }}</div>
			<div class="desktopPhoto green"></div>
			<div class="desktopPhoto pink"></div>
			<div class="desktopPhoto blue"></div>
		</div>

	</div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>