<div class="section styleguide">
  <h1 class="h1">h1 - Lorem ipsum dolor sit amet.</h1>
  <h2 class="h2">h2 - Lorem ipsum dolor sit amet.</h2>
  <h3 class="h3">h3 - Lorem ipsum dolor sit amet.</h3>
  <h4 class="h4">h4 - Lorem ipsum dolor sit amet.</h4>
  <h5 class="h5">h5 - Lorem ipsum dolor sit amet.</h5>
  <h6 class="h6">h6 - Lorem ipsum dolor sit amet.</h6>
  <p class="">Paragraph - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, quae.</p>
  <span>Span</span>
  <button>Button</button>

  <div class="section colors">
    <div class="color primary">primary</div>
    <div class="color secondary">secondary</div>
    <div class="color tertiary">tertiary</div>
    <div class="color quaternary">quaternary</div>
    <div class="color quinary">quinary</div>
  </div>

  {{ partial "atoms/media-item.html" . }}

  <!-- <ul>
    <li>List API for components</li>
    <li>Google pagespeed insights in the dev tools</li>
  </ul> -->




  <!-- {{ partial "scrollytelly.html" }} -->
</div>